* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	min-height: 100vh;
    background-image: url(./background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header,
.main-nav {
	display: flex;
}
.header {
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
    width: 100%;
	margin: 0 auto;
    height: 140px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    align-items: center;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 10vh;
  padding-top: 1%;
}


a {
	text-decoration: none;
    padding: 15px 0px 32px 0px;
    margin-left: 5rem;
    color: #ffffff;
}



.logo {
	margin: 0;
	font-size: 1.45em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 0px 30px;
	display: block;
}

.border-bottom {
    border-bottom: 1px solid rgb(71, 70, 70);
    width: 37%;
    position: absolute;
    z-index: 2;
    left: 10%;
}

.main-nav {
	margin-top: 5px;
    backdrop-filter: blur(100px);
    position: relative;
    z-index: 1;
    width: 56%;
    right: -3%;
    height: 100%;
}
.logo a,
.main-nav a {
	text-transform: uppercase;
	text-align: center;
	display: block;
    z-index: 100;
}

.main-nav a {
	color: #ffffff;
	font-size: .99em;
    font-family: 'Courier New', Courier, monospace;
}

.main-nav a span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-nav a:hover {
	border-bottom: 1px solid #fff;
}
